@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
    
}
@keyframes php{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
    
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
    
}