/*el risotto*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind+Siliguri:wght@300&family=Lora&family=Montserrat:wght@300&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@300;400;500;600&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem "Poppins",sans-serif;
    background-color: var(--color-letter);
    display: flex;
    flex-direction: column;
}
p, ul, ol, h1, h2, h3, i{
    font-style: normal;
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Ma palette de couleur*/
:root{
    /*Couleur pour les blocks*/
    --color-default: #9e3cff;
    --color-card: #FFB519;/*orange*/
    --color-hover: #E8E9E9;/*platinum*/
    --color-letter: #1C1D1E;
    --color-background: #fff;
    /*Couleur pour le thème*/
    --neon-pink: #EA279B; 
    --neon-green: #15CEA3;
    --neon-red: #EA3835;
    --neon-blue: #313EFA;
    --neon-purple: #5937D4;
    --clear-pink: #FEC7FC;
    --clear-purple: #C44CF3;
    --clear-blue: #69F5FF;
}
/*Header theme*/
header{
    background: no-repeat url("../asset/image/rue_neon.jpg");
    height: 100vh;
}
.logo{
    font-size: 3rem;
    margin-left: 2rem;
    color: rgb(255, 255, 255);
}
.button_on{
    display: block;
    margin-right: 0;
    margin-left: auto;
    background-color: #f7f7f7;
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 1px rgba(180, 180, 180, 0.41);
}
.nav{
    font-weight: bolder;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1rem;
    background-color: var(--color-letter);
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.nav_list{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.nav_link{
    color: var(--color-hover);
}
span{
    font-weight: bolder;
}
.presentation{
    color: #fff;
    font-size: 5rem;
    display: block;
    margin: 30vh 5rem 0;
}
/*About theme*/
.about{
    color: #fff;
}
.about h2,.about p{
    text-align: center;
    margin: 1rem;
}
.flexbox{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
/* Parcours */
.box-timeline {
    width: 100%;
    height: 130rem;
    background: #f1f1f1;
    position: relative;
    padding: 8rem 0 25rem 0;
    background-color: var(--color-letter);
}

.ligne {
    height: 100rem;
    width: .8rem;
    margin: 0 auto;
    background: rgb(255, 255, 255);
}

.rond {
    font-weight: 300;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: rgb(250, 250, 250);
    position: absolute;
    /* border: .1rem solid #1C1D1E; */
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: #000;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 8rem;}
.r2{top: 38.6rem;}
.r3{top: 69.2rem;}
.r4{top: 100rem;}

.box {
    color: #333;
    width: 40rem;
    min-height: 20rem;
    padding: 2rem;
    border-radius: .3rem;
    height: auto;
    background: var(--color-hover);
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 8rem;
    left: calc(50% - 27rem);
}
.b2 {
    top: 38.6rem;
    left: calc(50% + 27rem);
}
.b3 {
    top: 69.2rem;
    left: calc(50% - 27rem);
}
.b4 {
    top: 100rem;
    left: calc(50% + 27rem);
}

.box p {
    line-height: 2rem;
    font-size: 1.8rem;
    margin: 1rem 0 2rem 0;
}
.btn {
    display: block;
    background: var(--neon-blue);
    padding: 1rem;
    width: 15rem;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: .3rem;
    margin-top: 1rem;
    margin: 0 auto;
}
/* Skills thème */
.skill-list{
    text-transform: uppercase;
}
.skills h3{
    text-align: center;
}
.skills{
    color: #fff;
    width: 50vh;
    margin: 6rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1.4rem 2.8rem rgba(000, 000, 000, 0.25), 0 1rem 1rem rgba(000, 000, 000, 0.22);
}
.skills li{
    margin: 2rem 0;
    padding: 1rem;
}
.skillsBar{
    display: block;
    height: 2rem;
    border: .1rem solid rgba(000, 000, 000, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 1rem 3rem rgba(000, 000, 000, 0.12), 0 1rem 1rem rgba(000, 000, 000, 0.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}
.skillsBar:hover{
    box-shadow: 0 1.4rem 2.8rem rgba(000, 000, 000, 0.25), 0 1rem 1rem rgba(000, 000, 000, 0.22);
}
.skillsBar span{
    height: 2rem;
    float: left;
}
.skillsBar-html span{
    background: linear-gradient(100deg, rgba(246,255,25,1) 0%, rgba(255,181,25,1) 40%);
}
.skillsBar-css span{
    background: linear-gradient(100deg, rgba(105,245,255,1) 0%, rgba(49,62,250,1) 40%);
}
.skillsBar-js span{
    background: linear-gradient(100deg, rgba(255,253,105,0.9332107843137255) 0%, rgba(250,244,49,1) 40%);
}
.skillsBar-php span{
    background: linear-gradient(100deg, rgba(254,199,252,1) 0%, rgba(89,55,212,1) 40%);
}
.skillsBar-java span{
    background: linear-gradient(100deg, rgba(254,199,220,1) 0%, rgba(234,56,53,1) 40%);
}
.html{
    width: 80%;
    animation: html 2s;
}
.css{
    width: 70%;
    animation: css 2s;
}
.js{
    width: 20%;
    animation: js 2s;
}
.php{
    width: 40%;
    animation: php 2s;
}
.java{
    width: 30%;
    animation: java 2s;
}
/* Application theme */
.application{
    color: #fff;
    width: 50vh;
    margin: 6rem auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 1.4rem 2.8rem rgba(000, 000, 000, 0.25), 0 1rem 1rem rgba(000, 000, 000, 0.22);
}
.application h3{
    text-align: center;
    margin-bottom: 5rem;
}
.application img{
    display: block;
    width: 40%;
    height: auto;
    margin: 1rem auto;
}
.application ul li figure figcaption p{
    text-align: center;
}
.app-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
/*Footer theme*/
footer{
    margin-top: auto;
    background: var(--color-letter);
    height: auto;
    /* width: 100vw; */
    padding-top: 4rem;
    color: #fff;
    border-top: 3rem solid #000;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 3rem;
}
.footer-content p{
    max-width: 50rem;
    margin: 1rem auto;
    line-height: 2.8rem;
    font-size: 1.4rem;
}
.social_media{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social_media li{
    margin: 0 1rem;
}
.social_media a{
    text-decoration: none;
    color: #fff;
}
.social_media a img{
    font-size: 1.1rem;
    background-color: #ffffff;
    border: #eeeeee solid;
    border-radius: 5rem;
    transition: color .4s ease;
}
.social_media a:hover img{
    border: #313EFA solid;
}
.footer-copyright{
    background: #000;
    /* width: 100vw; */
    padding: 1rem 0;
    text-align: center;
    font-size: 1.4rem;
    word-spacing: .2rem;
    text-transform: capitalize;
}
.footer-copyright span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}